# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
NODE_ENV="development"
PORT=8000
# Auth
SECRET_ACCESS_TOKEN=bc5046a6d18a4b647dd35cc08491ee95d279dad83f52d5b3399c6fe5c8a16d5c24e9152b6a58a0280f15f7d54614ffe638a585188179c85abd58a590ec61fd0f
# Supabase
DATABASE_URL="postgresql://postgres:password@178.128.91.234:5432/schematics2024?schema=public"
REST_URL="https://xxxxxx.supabase.co"
ANON_KEY="xxxxxx"
JWT_SECRET="xxxxxx"
# Sentry
SENTRY_DSN="https://xxxxxx.ingest.sentry.io/xxxxxx"
SENTRY_AUTH_TOKEN="sntrys_xxxxxx"
